@import url(reset.css);
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Black.woff2) format("woff2"), url(../fonts/CircularStd-Black.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Bold.woff2) format("woff2"), url(../fonts/CircularStd-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Book.woff2) format("woff2"), url(../fonts/CircularStd-Book.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "CircularStd";
    src: url(../fonts/CircularStd-Medium.woff2) format("woff2"), url(../fonts/CircularStd-Medium.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    padding: 0 207px;
}
body{
    font-family: "CircularStd", Arial, sans-serif;
}
.title{
    font-size: 65px;
    line-height: 82px;
    text-align: center;
    color: #313131; 
    margin: 140px auto 20px auto;
}
.info{
    font-size: 20px;
    line-height: 25px;     
    color: #5F5F5F;
    width: 750px;
    text-align: center;
    margin: 0 auto 224px auto;
}
.content h2{
    font-size: 34px;    
    line-height: 1.3;
    opacity: 0.88;
    color: #313131;
    font-weight: 700;
    margin: 0 auto 20px 0;
}
.text{
    font-size: 18px;
    line-height: 28px;
    color: #5F5F5F;
    max-width: 508px;
    margin: 0 auto 60px 0;
}
.name{
    font-size: 18px;
    line-height: 1.3;
    opacity: 0.88;
    color: #313131;
    font-weight: 700;
    margin: 0 auto 5px 0;
}
.name-two{
    font-size: 18px;
    line-height: 23px; 
    color: #B8B8B8; 
    margin: 0 auto 15px 0;
}